.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    color: yellow !important;
}

.css-1v2lvtn-MuiPaginationItem-root{
    color: #fff !important;
}

.pagination-pages{
    margin: 3rem 0px;
}