@import '../../../variables.scss';

.listing {
    margin-top: 3rem;
    margin-bottom: 3rem;

    .listing-head {
        display: flex;
        align-items: baseline;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
    
        @media (min-width: 1200px){
            margin-bottom: 2rem;
        }
    
    }

    .listing__title {
        font-size: 1.4rem;
        letter-spacing: .4px;
    }

    .form-group {
        margin-bottom: 1rem;
    }

    .input-group {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        width: 100%;

        .searchdesign{
            height: 44px;
            background: #212121;
            border: 1px solid #716e6e;
            color: #fff;
            font-size: 15px;
            
        }

        .btnDesign{
            height: 44px;
            border-radius: 0;
            width: 55px;
            background: #dc4666;
            border: #dc4666;
        }
    }
}

@media (min-width: 1200px){

    .container{
        max-width: 1185px;
    }
    
}

.MuiPagination-ul{
    justify-content: center;

    button{
        color: #fff;
    }
}

